<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Today</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/styles.css">
  <script defer src="javascript/html.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/today">
          <i class="fa-solid fa-calendar-days"></i>
          Today   
        </a>
      </li>
      <li>
        <a href="/work">
          <i class="fa-solid fa-briefcase"></i>
          Work
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>